/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.btn {
	border-radius: 0px;
	font-family: Arial;
	color: #000000;
	font-size: 20px;
	background: #ffffff;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
	text-decoration: none;
}

.btn:hover {
	background: #fafafa;
	text-decoration: none;
}