/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.titleHeader
{
	backgroundColor: #F52F04;
	color: #FFFFFF;
	fontSize: 16;
	fontWeight: bold;
	paddingLeft: 20;
	textAlign: left;
	verticalAlign: middle;
	
}