/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.titleHeader
{
	backgroundColor: #b94827;
	color: #FFFFFF;
	fontSize: 16;
	fontWeight: bold;
	paddingLeft: 20;
	textAlign: left;
	verticalAlign: middle;
	fontFamily: Arial;
}

s|Button{
	skinClass: ClassReference('assets.customButton');
	fontWeight: bold;
}

s|Button.mainScreenButton
{
	skinClass:ClassReference("assets.mainScreenButton");
	fontWeight: bold;
}
s|Panel{
	skinClass: ClassReference("assets.customPanel");
	borderColor: #eae9c8;
	borderAlpha: 1.0;
	dropShadowVisible: false;
	backgroundColor: #ffffff;
}

s|TextArea{
	borderVisible: false; 
	contentBackgroundColor: #FFFFFF;
}

s|DataGrid{
	contentBackgroundColor: #FFFFFF;
	skinClass: ClassReference("assets.customDataGrid")
}