/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.titleHeader
{
	backgroundColor: #b94827;
	color: #FFFFFF;
	fontSize: 14;
	fontWeight: bold;
	paddingLeft: 20;
	textAlign: left;
	verticalAlign: middle;
	fontFamily: Arial;
}

s|Button{
	skinClass: ClassReference('assets.customButton');
	fontWeight: bold;
}

s|Panel{
	backgroundColor: #eeecec;
}

s|TextArea{
	borderVisible: false; 
	contentBackgroundColor: #eeecec;
}